#include <windows.h>

IDI_ICON1               ICON    DISCARDABLE     "./Rubble.ico"

1 VERSIONINFO
    FILEVERSION     4,6,0,0
    PRODUCTVERSION  4,6,0,0
    FILEOS          VOS_NT
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "04090025"
        {
			// Don't forget to change the version number in the header!
            VALUE "CompanyName", "Double Click Technologies"
            VALUE "FileDescription", "Rubble v4.6"
            VALUE "FileVersion", "4.6"
            VALUE "InternalName", "Rubble"
            VALUE "LegalCopyright", "2013-2014 Milo Christiansen"
            VALUE "OriginalFilename", "rubble.exe"
            VALUE "ProductName", "Rubble v4.6"
            VALUE "ProductVersion", "4.6"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x0025
    }
}
